@import url('react-grid-layout/css/styles.css');
@font-face {
    font-family: 'Popins'; /*a name to be used later*/
    src: url('./assets/fonts/Poppins-Medium.ttf'); /*URL to font*/
}

.react-grid-item > .react-resizable-handle {
    opacity: 0 !important;
}

.ant-input-search-button {
    border-left: none !important; 
}

body {
    font-family: "Popins";
}